unstructured
langchain_community
langchain-groq
langchain-text-splitters 
tiktoken
streamlit 
faiss-cpu 
langchainhub
requests
sentence-transformers
python-dotenv
opencv-python-headless
torch
torchvision
pytesseract
layoutparser
langchain
